@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Css Base for this project */
@layer base {
  body {
    @apply text-sm md:text-base font-base text-indigo;
  }
  h1 {
    @apply my-6 font-bold text-4xl md:text-5xl lg:text-6xl leading-tight tracking-normal;
  }
  h2 {
    @apply my-4 font-bold text-3xl md:text-4xl lg:text-5xl text-center;
  }
  h3 {
    @apply my-2 font-bold text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply font-semibold;
  }
  h4,
  h5,
  h6 {
    @apply my-1 text-base;
  }
  p {
    @apply my-1 text-base;
  }
  #pgContent h2 {
    @apply mx-auto py-1 inline-block  border-indigo border-b text-center text-2xl md:text-4xl;
  }
  #pgContent h3 {
    @apply mx-auto mt-4 mb-1 font-semibold text-left text-xl md:text-2xl;
  }
  #pgContent ul {
    @apply list-disc list-inside;
  }

  article h2 {
    @apply text-blue-900;
  }
  article h3 {
    @apply text-blue-800;
  }
  #hero h1 {
    @apply mx-auto my-0 px-4 sm:px-8 lg:px-12 py-2 max-w-7xl text-sm sm:text-lg md:text-lg text-indigo-light-5;
  }
}

@layer components {
  .gradientGold {
    @apply bg-gradient-to-t from-[#B78628] via-[#DBA514] to-[#FCC201] text-white;
  }
  .gradientReyhanKim {
    @apply bg-gradient-to-r from-[#000] via-[#222] to-[#111] text-white;
  }
  .gradientInstagram {
    @apply bg-gradient-to-br from-[#f9ce34] via-[#ee2a7b] to-[#6228d7] text-white;
  }
  .gradientWhatsapp {
    @apply bg-gradient-to-br from-[#dcf8c6] via-[#25d366] to-[#128c7e] text-white;
  }
  .gradientIndigo {
    @apply bg-gradient-to-br from-indigo-light-3 via-indigo to-indigo-dark-3 text-white-400;
  }
  .gradientPurple {
    @apply bg-gradient-to-b from-purple-800 to-purple-900 text-white-400;
  }
  .gradientWhiteToIndigo {
    @apply bg-gradient-to-br from-white to-indigo  text-black;
  }
  .gradientGreen {
    @apply bg-gradient-to-br from-[#dcf8c6] via-[#25d366] to-[#128c7e] text-white;
  }
  .gradientBilinc {
    @apply bg-gradient-to-br from-[#f9ce34] via-[#ee2a7b] to-[#6228d7] text-white;
  }
  .gradientTransition {
    @apply hover:scale-105 transition duration-300 ease-out
      cursor-pointer;
  }
  .gradientTransition110 {
    @apply hover:scale-110 transition duration-300 ease-out
      cursor-pointer;
  }
  .bgWhite {
    @apply bg-white border text-primary;
  }
  .gradientSlate {
    @apply bg-slate-100 bg-gradient-to-t from-slate-300 to-slate-100 shadow-sm;
  }

  .btn-hero {
    @apply flex justify-center items-center gap-2 px-4 py-2 leading-none rounded-full;
  }
  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-indigo-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-indigo-gray max-sm:rounded-full;
  }
  .reyhanInfoPosition {
    @apply w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .reyhanInfoContent {
    @apply px-4 sm:px-12 pt-8 [&>h3]:text-xl [&>h3]:sm:text-2xl  [&>p]:my-4 [&>p]:text-sm [&>p]:sm:text-base [&>p]:leading-6;
  }
}

@layer utilities {
  .container-p {
    @apply px-4 md:px-8 lg:px-12;
  }

  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .info-text {
    @apply text-indigo-gray text-lg leading-8;
  }
  /* #example1 {
    background: url(img_flwr.gif) right bottom no-repeat,
      url(paper.gif) left top repeat;
  } */

  .bgStoryReyhan {
    background: url("/assets/images/bg-story-reyhan.png") top left no-repeat,
      url("/assets/images/bg-story-star.png") top right no-repeat #000000;
  }
}

.box-shadow {
  @media screen and (min-width: 1024px) {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
      0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.containerSvg {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.redWave {
  stroke: none;
  fill: red;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333366;
  opacity: 0.5;
  z-index: 0;
  transform: skewY(-8deg);
  transform-origin: top left;
}
.curved {
  position: relative;
  background: #333366;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 30% 100%;
}

.curvedR {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
}

.curvedR::after {
  content: "";
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #333366;
  opacity: 0.5;
}
