@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Proje genel ayarları ve reset */
@layer base {
  body {
    @apply text-sm md:text-base font-base text-indigo;
  }
  h1 {
    @apply my-6 font-bold text-4xl md:text-5xl lg:text-6xl leading-tight tracking-normal;
  }
  h2 {
    @apply my-4 font-bold text-3xl md:text-4xl lg:text-5xl text-center;
  }
  h3 {
    @apply my-2 font-bold text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply font-semibold;
  }
  h4,
  h5,
  h6 {
    @apply my-1 text-base;
  }
  p {
    @apply my-1 text-base;
  }
  article {
    @apply mx-auto px-4 py-8 md:px-8 md:pb-16 max-w-xl flex flex-col gap-4 text-center shadow-xl bg-[#FAF3E0] leading-6 font-['Georgia'];
  }
  article h1 {
    @apply mx-auto my-2 py-1 inline-block leading-10 border-indigo border-b text-center text-3xl md:text-4xl text-[#4E342E];
  }
  article h2 {
    @apply mx-auto my-2 py-1 inline-block leading-10 border-indigo border-b text-center text-2xl md:text-3xl text-[#4E342E];
  }
  article h3 {
    @apply mx-auto mt-4 mb-1 leading-8 font-semibold text-xl md:text-2xl text-[#4E342E];
  }
  article h4 {
    @apply text-[#5D4037];
  }
  article hr {
    @apply mx-auto my-4 w-1/2 border-[#5D4037] border-opacity-20;
  }
  article p {
    @apply my-0 text-justify text-[#5D4037];
  }
  article ul {
    @apply my-0 pl-4 list-disc text-[#5D4037];
  }
  article ul li {
    @apply text-justify;
  }
  article .date {
    @apply my-2 text-right;
  }
  article .desc {
    @apply my-2 italic;
  }
}

/*Özel stiller:  Buton, kart, modal - çok sayfada kullanım */
@layer components {
  #hero h1 {
    @apply mx-auto my-0 px-4 sm:px-8 lg:px-12 py-2 max-w-7xl text-sm sm:text-lg md:text-lg text-indigo-light-5 text-left;
  }
  .pgContent {
    @apply mx-auto container-p md:my-8;
  }
  .pgContent h2 {
    @apply mx-auto py-1 inline-block border-indigo border-b text-center text-2xl md:text-4xl;
  }
  .pgContent h3 {
    @apply mx-auto mt-4 mb-1 font-semibold text-xl md:text-2xl;
  }
  .pgContent p {
    @apply text-justify;
  }
  .pgContent ul {
    @apply my-4 pl-4 list-disc;
  }
  .pgContent ul li {
    @apply text-justify;
  }
  .grayTab {
    margin: 0;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .gradientGold {
    @apply bg-gradient-to-t from-[#B78628] via-[#DBA514] to-[#FCC201] text-white;
  }
  .gradientAccent {
    @apply bg-gradient-to-br from-accent to-black text-white;
  }
  .gradientReyhanKim {
    @apply bg-gradient-to-br from-indigo-dark-3 via-indigo-dark-5 to-[#003] text-white;
  }
  .gradientInstagram {
    @apply bg-gradient-to-br from-[#f9ce34] via-[#ee2a7b] to-[#6228d7] text-white;
  }
  .gradientWhatsapp {
    @apply bg-gradient-to-br from-[#dcf8c6] via-[#25d366] to-[#128c7e] text-white;
  }
  .gradientIndigo {
    @apply bg-gradient-to-br from-indigo-light-3 via-indigo to-indigo-dark-3 text-white-400;
  }
  .gradientPurple {
    @apply bg-gradient-to-b from-purple-800 to-purple-900 text-white-400;
  }
  .gradientTransition {
    @apply hover:scale-105 transition duration-300 ease-out
      cursor-pointer;
  }
  .gradientTransition110 {
    @apply hover:scale-110 transition duration-300 ease-out
      cursor-pointer;
  }
  .bgWhite {
    @apply bg-white border text-primary;
  }
  .gradientSlate {
    @apply bg-slate-100 bg-gradient-to-t from-slate-300 to-slate-100 shadow-sm;
  }

  .btn-hero {
    @apply flex justify-center items-center gap-2 px-4 py-2 leading-none rounded-full;
  }
  .reyhanInfoPosition {
    @apply w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .reyhanInfoContent {
    @apply px-4 sm:px-12 pt-8 [&>h3]:text-xl [&>h3]:sm:text-2xl  [&>p]:my-4 [&>p]:text-sm [&>p]:sm:text-base [&>p]:leading-6;
  }

  .svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Tailwind de olmayan, yeni classlar... tek katman! */
@layer utilities {
  .container-p {
    @apply px-4 md:px-8 lg:px-12;
  }
  .bgStoryReyhan {
    background: url("/assets/images/bg-story-reyhan.png") top left no-repeat,
      url("/assets/images/bg-story-star.png") top right no-repeat #000000;
  }
}
